In [ ]:
#Assignment 1 starts
#1st task- Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)
import numpy as npy
import pandas as pd

In [ ]:
#Set random seed for reproducing
npy.random.seed(100)

In [ ]:
#Assign numpy random values(4 features and 4 observations)
d=npy.random.randn(4,4)

In [ ]:
#Task-2: Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'
df=pd.DataFrame(d, columns=['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'])
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0       -1.749765        0.342680        1.153036       -0.252436
1        0.981321        0.514219        0.221180       -1.070043
2       -0.189496        0.255001       -0.458027        0.435163
3       -0.583595        0.816847        0.672721       -0.104411

In [ ]:
#Task-3: Find descriptive statistics of df
print(df.describe())

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.385384        0.482187        0.397227       -0.247932
std          1.126511        0.247722        0.685467        0.622657
min         -1.749765        0.255001       -0.458027       -1.070043
25%         -0.875138        0.320761        0.051378       -0.456838
50%         -0.386545        0.428450        0.446950       -0.178424
75%          0.103208        0.589876        0.792800        0.030483
max          0.981321        0.816847        1.153036        0.435163

In [ ]:
#Task-4: Check for the null values in 'df' and find the data type of the columns
null_check = df.isnull().sum()
d_types = df.dtypes
print("Null values:") 
print(null_check)
print("\nData Types:")
print(d_types)

Null values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [ ]:
#Task-5: Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.
loc_meth_cols=df.loc[:,['Random value 2', 'Random value 3']]
print("Location Method:")
print(loc_meth_cols)
iloc_meth_cols=df.iloc[:,[1,2]]
print("\nIndex Location Method:")
print(iloc_meth_cols)

Location Method:
   Random value 2  Random value 3
0        0.342680        1.153036
1        0.514219        0.221180
2        0.255001       -0.458027
3        0.816847        0.672721

Index Location Method:
   Random value 2  Random value 3
0        0.342680        1.153036
1        0.514219        0.221180
2        0.255001       -0.458027
3        0.816847        0.672721