In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Read the CSV file
df = pd.read_csv('drug200.csv')

In [ ]:
# Check for missing values
print(df.isnull().sum())

# Drop rows with missing values
df = df.dropna()


# Check for duplicates
print(df.duplicated().sum())

# Drop duplicates
df = df.drop_duplicates()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64
0

In [ ]:
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [ ]:
X = df.iloc[:, 1:6]
Y = df['Age']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state =0)

In [ ]:
X_train.shape

(160, 5)

In [ ]:
X_test.shape

(40, 5)

In [ ]:
Y_train.shape,Y_test.shape

((160,), (40,))

In [ ]:
from sklearn.preprocessing import LabelEncoder
     

le = LabelEncoder() # initialize the lib

In [ ]:
X_train['Sex'] = le.fit_transform(X_train['Sex'])
X_train['BP'] = le.fit_transform(X_train['BP'])
X_train['Cholesterol'] = le.fit_transform(X_train['Cholesterol'])
X_train['Drug'] = le.fit_transform(X_train['Drug'])

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
# Initializing the seq model
reg_model = Sequential()

# Adding the input layer to the model
reg_model.add(Dense(32,activation='relu'))

# Adding the 2nd hidden layer to the model
reg_model.add(Dense(16,activation='relu'))

# Adding the 3rd hidden layer to the model
reg_model.add(Dense(8,activation='relu'))


# Adding output layer
reg_model.add(Dense(1,activation='sigmoid'))

In [ ]:
# Compile the model
reg_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:

# Train the model
reg_model.fit(X_train, Y_train, epochs=20, batch_size=5)

Epoch 1/20
32/32 [==============================] - 1s 2ms/step - loss: -150575040.0000 - accuracy: 0.0000e+00
Epoch 2/20
32/32 [==============================] - 0s 2ms/step - loss: -157395808.0000 - accuracy: 0.0000e+00
Epoch 3/20
32/32 [==============================] - 0s 2ms/step - loss: -164456352.0000 - accuracy: 0.0000e+00
Epoch 4/20
32/32 [==============================] - 0s 2ms/step - loss: -171690224.0000 - accuracy: 0.0000e+00
Epoch 5/20
32/32 [==============================] - 0s 2ms/step - loss: -179094864.0000 - accuracy: 0.0000e+00
Epoch 6/20
32/32 [==============================] - 0s 2ms/step - loss: -186730560.0000 - accuracy: 0.0000e+00
Epoch 7/20
32/32 [==============================] - 0s 3ms/step - loss: -194593088.0000 - accuracy: 0.0000e+00
Epoch 8/20
32/32 [==============================] - 0s 2ms/step - loss: -202610528.0000 - accuracy: 0.0000e+00
Epoch 9/20
32/32 [==============================] - 0s 3ms/step - loss: -210867424.0000 - accuracy: 0.0000e+00
Epoch 10/20
32/32 [==============================] - 0s 2ms/step - loss: -219351328.0000 - accuracy: 0.0000e+00
Epoch 11/20
32/32 [==============================] - 0s 3ms/step - loss: -228078640.0000 - accuracy: 0.0000e+00
Epoch 12/20
32/32 [==============================] - 0s 2ms/step - loss: -236864592.0000 - accuracy: 0.0000e+00
Epoch 13/20
32/32 [==============================] - 0s 2ms/step - loss: -246067424.0000 - accuracy: 0.0000e+00
Epoch 14/20
32/32 [==============================] - 0s 2ms/step - loss: -255431168.0000 - accuracy: 0.0000e+00
Epoch 15/20
32/32 [==============================] - 0s 3ms/step - loss: -265046240.0000 - accuracy: 0.0000e+00
Epoch 16/20
32/32 [==============================] - 0s 3ms/step - loss: -274819520.0000 - accuracy: 0.0000e+00
Epoch 17/20
32/32 [==============================] - 0s 3ms/step - loss: -284902016.0000 - accuracy: 0.0000e+00
Epoch 18/20
32/32 [==============================] - 0s 3ms/step - loss: -295068576.0000 - accuracy: 0.0000e+00
Epoch 19/20
32/32 [==============================] - 0s 2ms/step - loss: -305745056.0000 - accuracy: 0.0000e+00
Epoch 20/20
32/32 [==============================] - 0s 2ms/step - loss: -316396032.0000 - accuracy: 0.0000e+00

In [95]:
# Testing the model

reg_model.predict([[67,26,65,12,9]])

1/1 [==============================] - 0s 49ms/step

array([[1.]], dtype=float32)