TATHAGATA BISWAS, 20BCE1844, 
VIT - CHENNAI, ASSIGNMENT 2

TASK 1

In [66]:
#importing the required libraries

import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [67]:
#Loading the dataset and data pre-processing

dataset = pd.read_csv("drug200.csv")

dataset.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [69]:
# Check for missing values
print(dataset.isnull().sum())

# Drop rows with missing values
dataset = dataset.dropna()

# Check for duplicates
print(dataset.duplicated().sum())

# Drop duplicates
dataset = dataset.drop_duplicates()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64
0

In [71]:
X = dataset.iloc[:,1:6]

Y = dataset['Age']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [72]:
X_train.shape

(160, 5)

In [73]:
X_test.shape

(40, 5)

In [74]:
Y_train.shape, Y_test.shape

((160,), (40,))

In [75]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() # initialize the lib

In [76]:
X_train['Sex'] = le.fit_transform(X_train['Sex'])
X_train['BP'] = le.fit_transform(X_train['BP'])
X_train['Cholesterol'] = le.fit_transform(X_train['Cholesterol'])
X_train['Drug'] = le.fit_transform(X_train['Drug'])

In [77]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

TASK 2

In [78]:
# Initializing the seq model
reg_model = Sequential()

# Adding the input layer to the model
reg_model.add(Dense(32,activation='relu'))

# Adding the 2nd hidden layer to the model
reg_model.add(Dense(16,activation='relu'))

# Adding the 3rd hidden layer to the model
reg_model.add(Dense(8,activation='relu'))


# Adding output layer
reg_model.add(Dense(1,activation='sigmoid'))

In [79]:
# Compile the model

reg_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [80]:
# Train the model

reg_model.fit(X_train, Y_train, epochs=20, batch_size=5)

Epoch 1/20
32/32 [==============================] - 1s 2ms/step - loss: -124.8708 - accuracy: 0.0000e+00
Epoch 2/20
32/32 [==============================] - 0s 2ms/step - loss: -345.0923 - accuracy: 0.0000e+00
Epoch 3/20
32/32 [==============================] - 0s 2ms/step - loss: -748.5965 - accuracy: 0.0000e+00
Epoch 4/20
32/32 [==============================] - 0s 2ms/step - loss: -1544.3303 - accuracy: 0.0000e+00
Epoch 5/20
32/32 [==============================] - 0s 2ms/step - loss: -3223.0554 - accuracy: 0.0000e+00
Epoch 6/20
32/32 [==============================] - 0s 2ms/step - loss: -6909.1157 - accuracy: 0.0000e+00
Epoch 7/20
32/32 [==============================] - 0s 2ms/step - loss: -13298.6465 - accuracy: 0.0000e+00
Epoch 8/20
32/32 [==============================] - 0s 2ms/step - loss: -24499.8633 - accuracy: 0.0000e+00
Epoch 9/20
32/32 [==============================] - 0s 2ms/step - loss: -41522.0469 - accuracy: 0.0000e+00
Epoch 10/20
32/32 [==============================] - 0s 2ms/step - loss: -66455.7188 - accuracy: 0.0000e+00
Epoch 11/20
32/32 [==============================] - 0s 2ms/step - loss: -101431.4062 - accuracy: 0.0000e+00
Epoch 12/20
32/32 [==============================] - 0s 2ms/step - loss: -149138.0000 - accuracy: 0.0000e+00
Epoch 13/20
32/32 [==============================] - 0s 2ms/step - loss: -211069.7812 - accuracy: 0.0000e+00
Epoch 14/20
32/32 [==============================] - 0s 2ms/step - loss: -290284.1875 - accuracy: 0.0000e+00
Epoch 15/20
32/32 [==============================] - 0s 2ms/step - loss: -391267.6562 - accuracy: 0.0000e+00
Epoch 16/20
32/32 [==============================] - 0s 2ms/step - loss: -511503.5625 - accuracy: 0.0000e+00
Epoch 17/20
32/32 [==============================] - 0s 2ms/step - loss: -661366.8750 - accuracy: 0.0000e+00
Epoch 18/20
32/32 [==============================] - 0s 2ms/step - loss: -836366.4375 - accuracy: 0.0000e+00
Epoch 19/20
32/32 [==============================] - 0s 2ms/step - loss: -1045611.0000 - accuracy: 0.0000e+00
Epoch 20/20
32/32 [==============================] - 0s 2ms/step - loss: -1289236.7500 - accuracy: 0.0000e+00

TASK 3

In [81]:
# Testing the model

reg_model.predict([[67,26,65,12,9]])

1/1 [==============================] - 0s 143ms/step

array([[1.]], dtype=float32)