TATHAGATA BISWAS, 20BCE1844, 
VIT - CHENNAI, ASSIGNMENT 1

In [6]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# Set the random seed for reproductibility
np.random.seed(100)

In [ ]:
#Create random values for the DataFrame
data =np.random.randn(4,4)

In [ ]:
#Create the DataFrame
df = pd.DataFrame(data, columns = ['Random Value 1', 'Random Value 2', 'Random Value 3', 'Random Value 4'])

In [ ]:
#Print the DataFrame
print(df)

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0       -1.749765        0.342680        1.153036       -0.252436
1        0.981321        0.514219        0.221180       -1.070043
2       -0.189496        0.255001       -0.458027        0.435163
3       -0.583595        0.816847        0.672721       -0.104411

In [ ]:
#Descriptive statistics
stats = df.describe()

In [ ]:
#Print the statistics
print(stats)

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.385384        0.482187        0.397227       -0.247932
std          1.126511        0.247722        0.685467        0.622657
min         -1.749765        0.255001       -0.458027       -1.070043
25%         -0.875138        0.320761        0.051378       -0.456838
50%         -0.386545        0.428450        0.446950       -0.178424
75%          0.103208        0.589876        0.792800        0.030483
max          0.981321        0.816847        1.153036        0.435163

In [ ]:
#Check for null values
null_values = df.isnull().sum()

In [ ]:
#Find the data type of columns
data_types = df.dtypes

In [ ]:
#Print the results

print("Null Values:")
print(null_values)

print("\nData types:")
print(data_types)

Null Values:
Random Value 1    0
Random Value 2    0
Random Value 3    0
Random Value 4    0
dtype: int64

Data types:
Random Value 1    float64
Random Value 2    float64
Random Value 3    float64
Random Value 4    float64
dtype: object

In [ ]:
#Display columns using the location method
location_method_cols = df.loc[:, ['Random Value 2', 'Random Value 3']]
print("Using the location method:")
print(location_method_cols)

Using the location method:
   Random Value 2  Random Value 3
0        0.342680        1.153036
1        0.514219        0.221180
2        0.255001       -0.458027
3        0.816847        0.672721

In [ ]:
#Display columns using the index location method
index_location_method_cols = df.iloc[:, [1, 2]]
print("\nUsing the index location method:")
print(index_location_method_cols)

Using the index location method:
   Random Value 2  Random Value 3
0        0.342680        1.153036
1        0.514219        0.221180
2        0.255001       -0.458027
3        0.816847        0.672721